.accept-container {
  margin-top: 50px;
  box-shadow: -2px -31px 43px 9px rgba(50, 74, 195, 0.75);
  -webkit-box-shadow: -2px -31px 43px 9px rgba(50, 74, 195, 0.75);
  -moz-box-shadow: -2px -31px 43px 9px rgba(50, 74, 195, 0.75);
  width: 100%;
  position: relative;
  color: white;
  z-index: 1;
}
.accept-box {
  width: 100%;
  margin: auto;
  background-color: rgba(50, 74, 195, 0.73);
  padding-bottom: 50px;
  align-items: center;
}
.option {
  width: 80%;
  margin: auto;
  padding: 20px;
  padding-bottom: 5px;
  font-size: 20px;
}
label {
  position: absolute;
  left: 31%;
}
input[type="checkbox"] {
  transform: scale(3);
  color: red;
  outline: none;
  margin-left: 72%;
}
input[type="checkbox"]:hover {
  cursor: pointer;
}

.show-more-btn {
  background: none;
  border: none;
  color: white;
}
.accept-info {
  width: 50%;
  max-width: 550px;

  margin: auto;
  margin-top: 20px;
}
.info {
  position: relative;
  border: 1px solid white;
  padding: 10px;
  min-width: 300px;
  margin: auto;
}
.plus {
  position: absolute;
  right: 15px;
  cursor: pointer;
}
.more-info {
  margin-top: 15px;
  font-size: smaller;
}
.terms-title {
  margin: auto;
  text-align: center;
  margin-bottom: 30px;
}
#rotate {
  transform: rotate(180deg);
}
@media screen and (max-width: 642px) {
  label {
    left: 15%;
  }
  input[type="checkbox"] {
    margin-left: 60%;
  }
  .info {
    margin: auto;
    left: 10px;
  }
  .collapsible-info {
    width: 100%;
  }
  .option {
    width: 100%;
    margin: none;
    left: -10px;
  }
  .accept-info {
    width: 80%;
  }
}
@media screen and (max-width: 480px) {
  input[type="checkbox"] {
    margin-left: 90%;
  }
  .collapsible-info {
    width: 100%;
  }
}
