.navigator {
    color: white;
}

.Row {
    text-align: center;

}

.Navbar {
    min-height: 80px;
    box-shadow: 4px 52px 48px 22px rgba(33, 37, 41, 0.75);
    -webkit-box-shadow: 4px 52px 48px 22px rgba(33, 37, 41, 0.75);
    -moz-box-shadow: 4px 52px 48px 22px rgba(33, 37, 41, 0.75);
}

.Logo {
    color: white;
    font-size: 25px;
}

.Col {
    margin: 10px;
}

#basic-navbar-nav {
    color: white;
}

.ColBtn {
    color: white;
}