.navigator {
    color: white;

}

.navigator.nav-link.active {
    animation-name: active;
    animation-iteration-count: infinite;
    animation-duration: 4s;
    border-bottom: 1px rgba(170, 46, 71, 0.75) solid;

}

@keyframes active {
    0% {
        color: rgba(50, 74, 195, 0.75);
        border-color: rgba(50, 74, 195, 0.75);
    }

    50% {
        color: rgba(170, 46, 71, 0.75);
        border-color: rgba(170, 46, 71, 0.75);
    }

    100% {
        color: rgba(50, 74, 195, 0.75);
        border-color: rgba(50, 74, 195, 0.75);
    }
}



.Row {
    text-align: center;

}

.Navbar {
    position: fixed;
    top: 0;
    width: 100%;
    min-height: 80px;
    box-shadow: 4px 52px 48px 22px rgba(33, 37, 41, 0.75);
    -webkit-box-shadow: 4px 52px 48px 22px rgba(33, 37, 41, 0.75);
    -moz-box-shadow: 4px 52px 48px 22px rgba(33, 37, 41, 0.75);

    z-index: 10;
}

.Logo {
    color: white;
    font-size: 25px;
}

.Col {
    margin: 10px;

}


#basic-navbar-nav {
    color: white;
}